@charset "UTF-8";
/*Estilo Básico*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

*::-moz-selection {
  background: rgba(85, 107, 47, 0.7);
}

*::selection {
  background: rgba(85, 107, 47, 0.7);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  background: whitesmoke;
}

body.dark {
  background: #222222;
  color: whitesmoke;
}

body.dark body {
  background: #222222;
  color: whitesmoke;
}

body.dark body a {
  color: #222222;
}

body.dark body a:hover {
  color: white;
}

.titulo {
  color: #444;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-shadow: 0px 5px 5px darkgrey;
}

body.dark .titulo {
  color: whitesmoke;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

header {
  position: -webkit-sticky;
  /*-webkit- antes de sticky -- -webkit-sticky*/
  position: sticky;
  top: 0;
  z-index: 1000;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  /*esto es para que puedan funcionar los demas estilos*/
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  /*esto es que para cuando hagamos click el botoncito se corra*/
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  /*que no esté seteada es para que cuando apretemos, se mueva para el otro lado*/
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: black;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: none;
  color: #fff;
}

/*Inicio NAV*/
nav {
  background: whitesmoke;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0px;
}

body.dark nav {
  background: #222222;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

button {
  color: #444;
}

body.dark button {
  color: whitesmoke;
}

button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul {
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px;
}

a {
  color: #444;
  text-decoration: none;
}

body.dark a {
  background: #222222;
  color: whitesmoke;
}

nav {
  list-style-type: none;
  margin: 0;
}

.nav-logo:hover {
  text-shadow: 2px 2px 10px darkslategray;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-item:hover {
  text-shadow: 2px 2px 10px darkslategray;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, .item a:hover::after {
  color: #444;
  text-decoration: none;
}

/*Fin NAV*/
/*Inicio INTRO*/
.bloqueintro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#img-principal {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50%;
}

.textointro {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px darkgrey;
}

body.dark .textointro {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

/*Fin INTRO*/
/*Inicio Audiovisuales*/
#audiovisuales, #musicales, #contacto {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 20px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-shadow: 0px 5px 5px darkgrey;
}

body.dark #audiovisuales, body.dark #musicales, body.dark #contacto {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-trabajos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  max-width: 300px;
}

img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

.descripcion {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  opacity: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: table;
}

.descripcion:hover {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.div-trabajos p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.div-trabajos p:hover {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.div-trabajos {
  width: 700px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  vertical-align: middle;
}

.div-trabajos > .img-trabajos {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

/*Fin Audiovisuales*/
/*Inicio Contacto*/
.redes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
}

body.dark .redes {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

.mail a {
  size: 100px;
  font-weight: bold;
  color: rgba(85, 107, 47, 0.7);
  letter-spacing: 3px;
}

.icons a {
  font-size: 50px;
  color: rgba(85, 107, 47, 0.7);
  padding: 5px;
}

.icons a :hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Fin Contacto*/
/*# sourceMappingURL=estilos.css.map */